{{page-title
  (concat
    "Hackathon 2024"
    (if this.showEnvironment (concat " - " this.environmentName))
  )
}}

<AuModalContainer />
<AuToaster />

<AuApp>
  <AppHeader />
  <main id="main" class="au-c-main-container">
    <div
      class="au-c-main-container__content au-c-main-container__content--scroll au-u-flex au-u-flex--column"
      id="content"
      tabindex="-1"
    >
      <AuMainContainer as |main|>
        {{#if this.isProcessRoute}}
          <main.sidebar>
            <div class="au-c-sidebar">
              <div class="au-c-sidebar__content">
                <nav>
                  <ul class="au-c-list-navigation">
                    <li class="au-c-list-navigation__item">
                      <AuNavigationLink @route="search">
                        <AuIcon @icon="search" @alignment="left" />
                        Search
                      </AuNavigationLink>
                    </li>
                    <li class="au-c-list-navigation__item">
                      <AuNavigationLink @route="permissions">
                        <AuIcon @icon="clock-rewind" @alignment="left" />
                        Permissions
                      </AuNavigationLink>
                    </li>
                    <li class="au-c-list-navigation__item">
                      <AuNavigationLink @route="requests">
                        <AuIcon @icon="documents" @alignment="left" />
                        My request
                      </AuNavigationLink>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </main.sidebar>
        {{/if}}
        <main.content>
          <AuBodyContainer>
            {{outlet}}
          </AuBodyContainer>
        </main.content>
      </AuMainContainer>
    </div>
  </main>
</AuApp>