<LayoutHome>

  <AuBodyContainer class="au-u-background-gray-100">
    <section class="c-home">
      <div class="au-o-flow">

        <AddressSearch
          @address={{@model.address}}
          @isSearchEnabledInitially={{true}}
          @required={{true}}
          @error={{@model.address.error}}
        >

          <:commonInput>
            {{#if @model.address.isCountryBelgium}}{{/if}}
          </:commonInput>
        </AddressSearch>
      </div>
    </section>
  </AuBodyContainer>
</LayoutHome>